In [32]:
import json
import pandas as pd
import apikeys
import re
import gzip

In [40]:
reviews = []
file_path = 'reviews.json'
with open(file_path) as f:
    for line in f:
        j_content = json.loads(line)
        if j_content['unixReviewTime'] >= 1388534400:
            reviews.append(j_content)
        else:
            pass

In [41]:
review_df = pd.DataFrame(reviews)
review_df.head()

,asin,helpful,overall,reviewText,reviewTime,reviewerID,reviewerName,summary,unixReviewTime
0,000100039X,"[0, 0]",5.0,This book provides a reflection that you can a...,"01 18, 2014",A1BM81XB4QHOA3,"Ahoro Blethends ""Seriously""",Must Read for Life Afficianados,1390003200
1,000100039X,"[0, 0]",5.0,Reading this made my mind feel like a still po...,"01 27, 2014",A3V1MKC2BVWY48,Alex Dawson,This book will bring you peace,1390780800
2,000100039X,"[0, 0]",5.0,This is a timeless classic. Over the years I'...,"01 29, 2014",A3FI0744PG1WYG,"Always Reading ""tkm""",The Prophet,1390953600
3,000100039X,"[0, 0]",5.0,This book has so much you can take out of it t...,"03 16, 2014",A2WVHIRDMLM82E,Amazon Customer,Amazing,1394928000
4,000100039X,"[0, 0]",5.0,Who can ever say anything negative about this ...,"01 15, 2014",A3SK701OIJM1YX,Beatrice,The Best,1389744000

In [42]:
grouped_df = review_df.filter(items=['asin', 'overall'])
grouped_df['overall'] = grouped_df['overall'].astype(int)
grouped_df = grouped_df.groupby('asin').mean()
grouped_df.to_csv('grouped_asin_overall.csv')

In [33]:
def parse(path):
  g = gzip.open(path, 'r')
  for l in g:
    yield json.dumps(eval(l))

f = open("output.strict", 'w')
for l in parse("meta_Books.json.gz"):
  f.write(l + '\n')

parse('meta_Books.json.gz')

In [35]:
images = []
file_path = 'output.strict'
with open(file_path) as f:
    for line in f:
        j_content = json.loads(line)
        images.append(j_content)

In [36]:
images_df = pd.DataFrame(images)

In [49]:
images_df.head()
combined_df = images_df.join(grouped_df, on='asin', how='inner')

TypeError: join() got an unexpected keyword argument 'index'

In [51]:
combined_df = combined_df.filter(['asin', 'overall', 'imUrl'])
combined_df.head()
combined_df.to_csv('image_data.csv', index=False)

             overall
asin
000100039X  4.666667
0001473123  5.000000
0001473727  5.000000
0001473905  5.000000
0002007770  4.421384

            overall
asin
0002711184      1.0
0006392202      1.0
0006512666      1.5
0006514219      1.5
0006514359      1.0